html {
  color: $white;
}

body {
  width: auto;
  background: $dark;
}

.main {
  display: flex;
  justify-content: center;
  margin-bottom: rem(30);

  &.center {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
  }
}

.viz {
  background-color: transparent;
}

#visualization-page {
  height: 100%;

  body {
    height: 100%;

    .container {
      height: 100%;

      .innerline {
        height: calc(100vh - (4.5px + 10px)*2);
      }
    }
  }
}