/** Original CSS **/
@font-face {
  font-family: "BDCartoonShoutRegular";
  src: url("BD_Cartoon_Shout-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
#pacman {
  height: 450px;
  width: 342px;
  margin: 20px auto;
}
#shim {
  font-family: BDCartoonShoutRegular;
  position: absolute;
  visibility: hidden;
}
h1 {
  font-family: BDCartoonShoutRegular;
  text-align: center;
}
body {
  width: 342px;
  margin: 0px auto;
  font-family: sans-serif;
}
a {
  text-decoration: none;
}

/** End Original CSS **/

/** Custom Style Starts From Here **/
$dark: #000000;
$yellow: yellow;

.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.keys {
  display: flex;
  width: 100%;
  justify-content: center;
}

.key {
  border: 2px solid $dark;
  box-shadow: 2px 2px $dark;
  font-size: 0.85rem;
  display: inline-block;
  font-weight: 600;
  letter-spacing: 0.05rem;
  padding: 4px 30px;
  margin: 3px;
  white-space: nowrap;
  text-align: center;

  &.active {
    background-color: $yellow;
  }

  span {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-transform: uppercase;
    font-family: BDCartoonShoutRegular;
  }
}

.col {
  display: flex;
  flex-direction: column;
}

.databox {
  > * {
    margin-top: 20px;
    word-break: break-word;
  }

  .count {
    text-align: center;
  }
}

.logbox {
  margin: 20px 0 20px 20px;
  min-width: 342px;
}
