.keys {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  color: $dark;
}

.key {
  border: rem(2) solid $dark;
  box-shadow: rem(2) rem(2) $blue-dark;
  font-size: rem(13);
  display: inline-block;
  font-weight: 600;
  letter-spacing: 0.05rem;
  padding: rem(12) rem(30);
  margin: rem(3);
  white-space: nowrap;
  text-align: center;
  background-color: $white;

  &.active {
    background-color: $yellow;
  }

  span {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-transform: uppercase;
    font-family: BDCartoonShoutRegular;
  }
}

.col {
  display: flex;
  flex-direction: column;
}

.databox {
  font-family: BDCartoonShoutRegular;

  > * {
    margin-top: rem(20);
    word-break: break-word;

    &:first-child {
      margin-top: rem(5);
    }
  }

  .count {
    text-align: center;
  }

  $indent: rem(60);

  .lable {
    width: calc(#{$indent} * 2.2);
    height: $indent;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    line-height: $indent;
    text-indent: calc(#{$indent} * 1.2);

    &::before {
      content: "";
      position: absolute;
      background-image: url(../asset/Monster_Ijike.png);
      background-size: contain;
      background-repeat: no-repeat;
      left: 0;
      width: $indent;
      height: $indent;
    }
  }

  .space {
    width: rem(40);
    display: inline-block;
    font-family: BDCartoonShoutRegular;
  }
}

.logbox {
  margin: rem(70) 0 rem(20) rem(20);
  width: rem(342);
}

.svg {
  g {
    .point {
      // fill: $blue-dark;
      font-family: BDCartoonShoutRegular;
      font-size: rem(40);
      transform: translate(-10%, 10.5%);
    }
  }

  image {
    transform: scale(0.8);
  }
}

.chart-button {
  button {
    cursor: pointer;
    font-family: BDCartoonShoutRegular;
  }
}
